{% extends "base.html" %}

{% block headscripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/backbone-relational.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.syphon.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.marionette.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-csrf.js"></script>
{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}
{% endblock %}