{% extends "bookkeeping/base.html" %}
{% block content %}

<style type="text/css">
    .transaction i.fa-dot-circle-o {
        color: #FDD017;
    }
    .transaction i.fa-arrow-circle-o-right {
        color: #4CC417;
    }
    .transaction i.fa-arrow-circle-o-left {
        color: #F62217;
    }
</style>

<div id="app-content">
</div>

<script type="text/template" id="contract-cut-template">
    <li>
        <a href="#<%= id %>">#<%= id %> <%= formatDate(created_at) %> <% if (updated_at == created_at) { %>
                [<%= formatDate(updated_at) %>] 
            <% } %><%= owner.name %> <i class="fa fa-long-arrow-right"></i> <%= partner.name %></a>
    </li>
</script>

<script type="text/template" id="transaction-on-stock-specific-details-template">
    Склад: <%- stock.name %> (<%- stock.owner.name %>)<br>
</script>

<script type="text/template" id="realize-transaction-specific-details-template">
    Склад: <%- stock.name %> (<%- stock.owner.name %>)<br>
    Использовать резерв: <%- consume_allocation ? "Да": "Нет" %><br>
</script>

<script type="text/template" id="transaction-on-store-specific-details-template">
    Магазин: <%- store.name %> (<%- store.owner.name %>)<br>
    Объем средств: <%- funds %> <i class="fa fa-rub"></i>
</script>

<script type="text/template" id="transaction-specific-details-template">

</script>

<script type="text/template" id="container-select-option-template">
    <%= name %> (<%- owner.name %>)
</script>

<script type="text/template" id="product-select-option-template">
    <%= title %> (<%- authors %>)
</script>

<script type="text/template" id="transaction-on-stock-specific-details-edit-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">Склад</label>
        <div class="container-container col-sm-10">
        </div>
    </div>
</script>

<script type="text/template" id="realize-transaction-specific-details-edit-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">Склад</label>
        <div class="container-container col-sm-10">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="consume_allocation" <%= consume_allocation ? "checked" : "" %>> Использовать резерв
            </label>
          </div>
        </div>
      </div>
</script>

<script type="text/template" id="transaction-on-store-balance-template">
    <%= container.balance %> <i class="fa fa-rub"></i>
</script>

<script type="text/template" id="transaction-on-store-specific-details-edit-template">
    <div class="form-group">
        <label class="col-sm-2 control-label">Магазин</label>
        <div class="container-container col-sm-10">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Баланс</label>
        <div class="balance-container input-group col-sm-10">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Объем средств</label>
        <div class="funds-container input-group col-sm-10">
            <input class="form-control" name="funds" step="0.001" type="number" value="<%- funds %>">
            <span class="input-group-addon"><i class="fa fa-rub"></i></span>
        </div>
    </div>
</script>

<script type="text/template" id="transaction-specific-details-edit-template">

</script>

<script type="text/template" id="transaction-template">
    <!--<div class="panel panel-default">-->
        <div class="title">
            <% if (status == 0) { %>
                <i class="fa fa fa-dot-circle-o" title="Готова к выполнению"></i>
            <% } else if (status == 1) { %>
                <i class="fa fa-arrow-circle-o-right" title="Успешно выполнена"></i> <%= done_at ? formatDate(done_at) : formatDate(executed_at) %>
            <% } else { %>
                <i class="fa fa-arrow-circle-o-left" title="Успешно отменена"></i> <%= canceled_at ? formatDate(canceled_at) : formatDate(rollbacked_at) %>
            <% } %>

            <%= verbose_type_name %>
            <i class="toggle-caret fa fa-caret-down pull-right"></i>
        </div>
        <div class="details" style="display:none">
            <% if (status == 0) { %>
                <a class="execute btn btn-default">Выполнить <i class="fa fa-arrow-circle-o-right"></i></a>
            <% } else if (status == 1) { %>
                <a class="rollback btn btn-default">Откатить <i class="fa fa-arrow-circle-o-left"></i></a>
            <% } else { %>
                <abbr title="После отката транзакции дальнейшие действия недоступны. Создайте новую транзакцию.">Действия недоступны</abbr>
            <% } %>
            <div class="specific-details"></div>
            <%- note %>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название товара</th>
                        <th>Себестоимость</th>
                        <th>Цена за штуку</th>
                        <th>Кол-во</th>
                        <th>Общая цена</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    <!--</div>-->
</script>

<script type="text/template" id="transaction-product-template">
    <td><%- product.title %></td>
    <td><%- cost_price %></td>
    <td><%- price %></td>
    <td><%- quantity %></td>
    <td><%- price * quantity %></td>
</script>

<script type="text/template" id="transaction-on-stock-products-edit-template">
    <thead>
        <tr>
            <th>Название товара</th>
            <th>В наличии</th>
            <th>Доступно</th>
            <th>Себестоимость</th>
            <th>Цена за штуку</th>
            <th>Кол-во</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</script>

<script type="text/template" id="transaction-on-store-products-edit-template">
    <thead>
        <tr>
            <th>Название товара</th>
            <th>В наличии</th>
            <th>Доступно</th>
            <th>Себестоимость</th>
            <th>Розничная цена</th>
            <th>Цена за штуку</th>
            <th>Кол-во</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</script>

<script type="text/template" id="transaction-edit-template">
    <div class="specific-details"></div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Заметка</label>
        <div class="col-sm-10">
            <textarea cols="20" rows="4" name="note" class="form-control"><%- note %></textarea>
        </div>
    </div>
    <table class="table products">
    </table>
    <a type="button" class="btn btn-default" href="add-product"><i class="fa fa-plus"></i> Добавить товар</a>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a type="button" class="btn btn-default" href="delete">Удалить</a>
        </div>
        <div class="btn-group">
            <a type="button" class="btn btn-primary" href="save">Сохранить</a>
            <a type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="save-and-execute">Сохранить и выполнить</a></li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="transaction-on-stock-product-edit-template">
    <td class='product-container'></td>
    <td><%- containerInfo.quantity %></td>
    <td><%- containerInfo.available_quantity %></td>
    <td><%- containerInfo.cost_price %></td>
    <td><input class="form-control" name="price" step="0.001" type="number" value="<%- price %>"></td>
    <td><input class="form-control" name="quantity" step="0.001" type="number" value="<%- quantity %>"></td>
    <td><a class='delete' href="#delete"><i class="fa fa-times"></i></a></td>
</script>

<script type="text/template" id="transaction-on-store-product-edit-template">
    <td class='product-container'></td>
    <td><%- containerInfo.quantity %></td>
    <td><%- containerInfo.available_quantity %></td>
    <td><%- containerInfo.cost_price %></td>
    <td><%- containerInfo.price %></td>
    <td><input class="form-control" name="price" step="0.001" type="number" value="<%- price %>"></td>
    <td><input class="form-control" name="quantity" step="0.001" type="number" value="<%- quantity %>"></td>
    <td><a class='delete' href="#delete"><i class="fa fa-times"></i></a></td>
</script>

<script type="text/template" id="contract-template">
    <%= id %> <%= formatDate(created_at) %> <% if (updated_at == created_at) { %>
                [<%= formatDate(updated_at) %>] 
            <% } %><%= owner.name %> <i class="fa fa-long-arrow-right"></i> <%= partner.name %><br><% if (note) { %>
            <%- note %><br>
            <% } %>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a type="button" class="btn btn-default new-transaction" href="#credit">Зачислить</a>
            <a type="button" class="btn btn-default new-transaction" href="#debit">Списать</a>
        </div>
        <div class="btn-group">
          <a type="button" class="btn btn-default new-transaction" href="#allocate">Зарезервировать</a>
          <a type="button" class="btn btn-default new-transaction" href="#realize">Реализовать</a>
          <a type="button" class="btn btn-default new-transaction" href="#purchase">Закупить</a>         
          <a type="button" class="btn btn-default new-transaction" href="#return">Вернуть поставщику</a>
          <a type="button" class="btn btn-default new-transaction" href="#refund">Принять возврат</a>

          <!--<div class="btn-group">
            <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-ellipsis-h fa-lg"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="new-transaction" href="#return">Вернуть поставщику</a></li>
                <li><a class="new-transaction" href="#refund">Принять возврат</a></li>
            </ul>
          </div>-->
        </div>
    </div>
    <div class="new-transaction-contrainer"></div>
    <div class="transactions"></div>
</script>


<!--<script type="text/template" id="store-book-cut-template">
        <div class="col-sm-3">
            <img src="<%= product.primary_image_url %>" alt="No image" style="width:100%;max-width:200px;">
        </div>
        <div class="col-sm-6">
            <h3 class="title"><%- product.title %><span class="edition"><%- product.edition ? (', '+product.edition+'-е издание') : '' %></span></h3>
            <div class="authors"><%- product.authors %>, <%- product.publication_year %></div>
            <div><%- product.short_description %></div>
        </div>
        <div class="col-sm-3">
            <div class="price"><span><%- price %></span> <i class="fa fa-rub"></i></div>
            <div class="quantity">
                <% if (available_quantity > 0) { %>
                    В наличии: <span class="available-quantity"><%- available_quantity %></span> шт.
                <% } else { %>
                    Нет в наличии
                <% } %>
            </div>
        </div>
</script>-->

<script type="text/javascript" src="{{ STATIC_URL }}accounts/js/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}accounts/js/get_user.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/js/load_models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}common/js/form_mixin.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bookkeeping/js/bookkeeping_app.js"></script>

{% endblock %}