{% extends "posts/base.html" %}
{% block content %}
<form id="post_form" method="POST" action=".">
	{% csrf_token %}
	{{ post_form.as_p }}
	{{ post_votes_formset }}
	<button class="btn" type="submit" value="Save">Сохранить</button>
</form>
{% endblock %}