{% extends "posts/base.html" %}
{% block content %}
    {% if user.is_staff %}
        <a class="btn btn-primary" href="{% url 'posts:new' %}">Новый</a>
        {% if not only_my %}
        <a class="btn btn-default" href="{% url 'posts:list' %}?my">Мои посты</a>
        {% else %}
        <a class="btn btn-default" href="{% url 'posts:list' %}">Все посты</a>
        {% endif %}
    {% endif %}
    {% for post in posts %}
		{% include "posts/post-short.html" with post=post %}
    {% empty %}
        Постов пока нет!
	{% endfor %}
{% endblock %}