{% extends "posts/base.html" %}
{% block content %}
<form action="{% url 'posts:delete' post.id %}" method="post" class="pull-right" style="display:inline;">
    {% csrf_token %}
    <button class="btn btn-default" type="submit">Удалить</button>
</form>
<form id="post_form" method="post">
	{% csrf_token %}
    <!--<input type="hidden" name="id" value="{{post.id}}">-->
    <!--<div class="form-group">-->
		<!--<input type="checkbox" name="private" {% if post.private %}checked{% endif %}>-->
		<!--<label for="private" class="control-label">Является приватным</label>-->
	<!--</div>-->
	<div class="form-group">
		<label for="title" class="control-label">Заголовок</label>
		<input type="text" name="title" class="form-control" value="{{post.title}}">
	</div>
    <div class="form-group">
		<label for="content" class="control-label">Текст</label>
	    <textarea cols="30" rows="10" name="content" class="form-control">{{post.raw_content|safe}}</textarea>
    </div>
    <div class="form-group">
		<label for="content" class="control-label">Теги</label>
	    <input type="text" name="tags" class="form-control">
    </div>
	<button class="btn btn-primary" type="submit" value="save">Сохранить</button>
    <a class="btn btn-default" href="{% url 'posts:detail' post.id %}">На страницу поста</a>
</form>
{% endblock %}