<!-- in: post -->
{% extends "posts/base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.fileupload.css">
<style type="text/css">
	.align-center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.align-left-wrap {
		float:left;
	}
	.align-left {
		display: block;
		margin-right: auto;
	}
	.align-right-wrap {
		float:right;
	}
	.align-right {
		display: block;
		margin-left: auto;
	}
</style>

<div id="app-content">
</div>

<script type="text/template" id="post-upload-template">
	<span class="label label-primary">
	<a href="<%- url %>" style="color:#fff">
	<% if (type == 'image') { %>
		<i class="fa fa-picture-o"></i>
	<% } else if (type == 'unknown') { %>
		<i class="fa fa-question"></i>
	<% } %>
	(<%- id %>)</a>
	<a class="delete" href="#" style="color:#fff"><i class="fa fa-times"></i></a>
	</span>
</script>

<script type="text/template" id="post-uploads-list-template">
</script>

<script type="text/template" id="post-edit-template">
	Прикрепленные файлы:
	<div class="uploads"></div>
	<div class="edit-content"></div>
</script>

<script type="text/template" id="post-edit-content-template">
	<div class="form-group">
		<input type="checkbox" name="private" <%= private ? 'checked' : '' %>>
		<label for="private" class="control-label">Является приватным</label>
	</div>
	<div class="form-group">
		<label for="title" class="control-label">Заголовок</label>
		<input type="text" name="title" value="<%- title %>" class="form-control">
	</div>
	<div class="wysiwyg form-group">
		<label for="content" class="control-label">Текст</label>
		<div class="btn-toolbar" role="toolbar">
		<!--<div class="btn-group">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa-font"></i><b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a data-edit="fontName Serif" style="font-family:'Serif'">Serif</a></li>
				<li><a data-edit="fontName Sans" style="font-family:'Sans'">Sans</a></li>
				<li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
				<li><a data-edit="fontName Arial Black" style="font-family:'Arial Black'">Arial Black</a></li>
				<li><a data-edit="fontName Courier" style="font-family:'Courier'">Courier</a></li>
				<li><a data-edit="fontName Courier New" style="font-family:'Courier New'">Courier New</a></li>
				<li><a data-edit="fontName Comic Sans MS" style="font-family:'Comic Sans MS'">Comic Sans MS</a></li>
				<li><a data-edit="fontName Helvetica" style="font-family:'Helvetica'">Helvetica</a></li>
				<li><a data-edit="fontName Impact" style="font-family:'Impact'">Impact</a></li>
				<li><a data-edit="fontName Lucida Grande" style="font-family:'Lucida Grande'">Lucida Grande</a></li>
				<li><a data-edit="fontName Lucida Sans" style="font-family:'Lucida Sans'">Lucida Sans</a></li>
				<li><a data-edit="fontName Tahoma" style="font-family:'Tahoma'">Tahoma</a></li>
				<li><a data-edit="fontName Times" style="font-family:'Times'">Times</a></li>
				<li><a data-edit="fontName Times New Roman" style="font-family:'Times New Roman'">Times New Roman</a></li>
				<li><a data-edit="fontName Verdana" style="font-family:'Verdana'">Verdana</a></li>
			</ul>
		</div>
		<div class="btn-group">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size">
				<i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" data-edit="fontSize 5"><font size="5">Huge</font></a></li>
				<li><a href="#" data-edit="fontSize 3"><font size="3">Normal</font></a></li>
				<li><a href="#" data-edit="fontSize 1"><font size="1">Small</font></a></li>
			</ul>
		</div>-->
		<div class="btn-group">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size">
				<i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" data-command="h1"><h1>Заголовок 1</h1></a></li>
				<li><a href="#" data-command="h2"><h2>Заголовок 2</h2></a></li>
				<li><a href="#" data-command="h3"><h3>Заголовок 3</h3></a></li>
			</ul>
		</div>
		<div class="btn-group">
			<a class="btn btn-default" title="Жирный" data-command="bold"><i class="fa fa-bold"></i></a>
			<a class="btn btn-default" title="Курсив" data-command="italic"><i class="fa fa-italic"></i></a>
			<a class="btn btn-default" title="Подчеркнутый" data-command="underline"><i class="fa fa-underline"></i></a>
			<a class="btn btn-default" title="Зачеркнутый" data-command="strikethrough"><i class="fa fa-strikethrough"></i></a>
			<a class="btn btn-default" title="Цитата" data-command="blockquote"><i class="fa fa-quote-right"></i></a>
		</div>
		<div class="btn-group">
			<a class="btn btn-default" data-command="insertunorderedlist" title="Вставить ненумерованный список"><i class="fa fa-list-ul"></i></a>
			<a class="btn btn-default" data-command="insertorderedlist" title="Вставить нумерованный список"><i class="fa fa-list-ol"></i></a>
			<a class="btn btn-default" data-command="insertlistitem" title="Вставить элемент списка"><i class="fa fa-dot-circle-o"></i></a>
		</div>
		<div class="btn-group">
			<a class="btn btn-default" data-command="createlink" title="Вставить ссылку"><i class="fa fa-link"></i></a>
			<div class="btn-group">
				<a class="btn btn-default" data-toggle="dropdown" title="Вставить изображение"><i class="fa fa-picture-o"></i></a>
				<div class="insert-image-dropdown well dropdown-menu" role="menu">
					<div style="width:330px">
						<div class="row">
							<div class="input-group col-md-12" style="margin-bottom: 10px;">
								<span class="input-group-addon"><i class="fa fa-globe"></i></span>
								<input type="text" name="url" class="form-control" placeholder="URL">
								<div class="progress form-control" style="display: none; height: 34px">
									<div class="progress-bar" role="progressbar"></div>
								</div>
								<a class="btn btn-default input-group-addon cancel-uploading" style="display: none;"><i class="fa fa-ban"></i></a>
								<a class="btn btn-default input-group-addon delete-upload" style="display: none;"><i class="fa fa-times"></i></a>
								<span class="upload-image btn btn-default input-group-addon fileinput-button"><i class="fa fa-upload"></i>
									<input class="image-file-input" type="file" name="file">
								</span>
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px;">
							<div class="image-align-panel btn-group col-md-5">
								<a class="btn btn-primary" data-align="left" title="Влево"><i class="fa fa-align-left"></i></a>
								<a class="btn btn-default" data-align="center" title="По центру"><i class="fa fa-align-center"></i></a>
								<a class="btn btn-default" data-align="right" title="Вправо"><i class="fa fa-align-right"></i></a>
							</div>
							<div class="input-group col-md-7">
								<span class="input-group-addon"><i class="fa fa-resize-horizontal"></i></span>
								<input type="text" name="width" class="form-control" placeholder="Ширина" data-units="px">
								<a class="btn btn-default input-group-addon toggle-units" style="text-decoration: underline;">px</a>
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px;">
							<div class="input-group col-md-7">
								<input type="checkbox" name="wrap">
								<label>Обтекание текстом</label>
							</div>
						</div>
						<div class="row">
							<button class="btn btn-default col-md-4 col-md-offset-4" data-manual-command="insertimage" type="button">Добавить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-group">
			<a class="btn btn-default" data-command="insertcut" title="Сокращенная версия обрезается здесь"><i class="fa fa-cut"></i></a>
			<a class="btn btn-default" data-command="inserthorizontalrule" title="Горизонтальная линия"><i class="fa fa-minus"></i></a>
		</div>
		</div>
		<textarea cols="30" rows="10" name="raw_content" class="form-control"><%- raw_content %></textarea>
	</div>
	<button class="btn btn-primary submit">Сохранить</button>
	<a href="#<%= typeof(id) != 'undefined' ? id : '' %>" class="discard btn btn-default">Отменить</a>
</script>


<script type="text/template" id="post-template">
	<div class="manage-panel"></div>
	<div class="author"></div>
	<div class="content"></div>
</script>

<script type="text/template" id="post-manage-panel-template">
	<% if (authorIsOwner || userIsStaff) { %>
		<% if (!published) { %>
			<a href="" class="publish btn btn-primary">Опубликовать</a>
		<% } else { %>
			<a class="unpublish btn btn-primary">Перенести в черновики</a>
		<% } %>
		<a href="#<%= id %>/edit" class="edit btn btn-default">Редактировать</a>
		<a class="delete btn btn-default">Удалить</a>
	<% } %>
</script>

<script type="text/template" id="post-author-template">
	<p class="author"><%- email %></p>
</script>

<script type="text/template" id="post-content-template">
	<p class="publish_date"><%- publish_date %></p>
	<h1 class="title"><%- title %></h1>
	<div class="content"><%= rendered_content %></div>
</script>

<script type="text/template" id="post-cut-content-template">
	<% if (authorIsOwner) { %>
		<div class="panel panel-primary"><div class="panel-body">
	<% } %>
			<p class="publish_date"><%- publish_date %></p>
			<h1 class="title"><a class="whole" href="#<%= id%>"><%- title %></a></h1>
			<div class="content"><%= cut_content %></div>
	<% if (authorIsOwner) { %>
		</div></div>
	<% } %>
</script>

<script type="text/template" id="post-list-template">
	<a href="#new" class="new btn btn-default">Новый</a>
</script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/wysiwyg2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}accounts/js/models.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}accounts/js/get_user.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}posts/js/posts_app.js"></script>

{% endblock %}