{# in: post #}
<div class="post" id="post_{{post.id}}">
    {% if post.author == user or user.is_staff %}
    <div class="pull-right">
        {% if not post.published %}
        <form action="{% url 'posts:publish' post.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Опубликовать</button>
        </form>
        {% else %}
        <form action="{% url 'posts:unpublish' post.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">В черновики</button>
        </form>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'posts:edit' post.id %}">Редактировать</a>
        <form action="{% url 'posts:delete' post.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Удалить</button>
        </form>
    </div>
    {% endif %}


    <h1 class="title">
    {% if post.title %}
	{{ post.title }}
    {% else %}
    <пост #{{ post.id }}>
    {% endif %}
    </h1>

    {% if post.published %}
	<span class="published_at" style="color:#999">{{ post.published_at }}</span>
    {% endif %}
    <span class="author">{{ post.author.name }}</span>
    <br>
    <br>
	<div class="content">{{ post.rendered_content|safe }}</div>
</div>