{# in: post #}
<div class="post row" id="post_{{post.id}}" style="margin-top:20px;margin-bottom:20px;">
    <!--{% if post.author == user or user.is_staff %}-->
    <!--<div class="pull-right">-->
        <!--<a class="btn btn-primary" href="{% url 'posts:edit' post.id %}">Редактировать</a>-->
        <!--<form action="{% url 'posts:delete' post.id %}" method="post" style="display:inline;">-->
            <!--{% csrf_token %}-->
            <!--<button class="btn btn-default" type="submit">Удалить</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--{% endif %}-->


	<h1 class="title">
		<a href="{% url 'posts:detail' post.id %}">
        {% if post.title %}
            {{ post.title }}
        {% else %}
            <пост #{{ post.id }}>
        {% endif %}
        </a>
	</h1>
    <span class="published_at" style="color:#999">
        {% if post.published %}
            {{ post.published_at }}
        {% else %}
            [не опубликован]
        {% endif %}
    </span>
    <span class="author">{{ post.author.name }}</span>
    <br>
    <br>
	<div class="content">{{ post.cut_content|safe }}</div>
    <br>
    <a href="{% url 'posts:detail' post.id %}" class="btn btn-default">Читать дальше</a>
</div>