{% extends "materials/base.html" %}

{% block headscripts %}
	<meta name="csrf-token" content="{{csrf_token}}">
{% endblock %}

{% block content %}
	<style type="text/css">
		#materials-app ul, div.category-edit {
			width: 450px;
			margin: 0;
		}

		#materials-app ul {
			list-style-type: none;
			padding: 0;
		}

		#materials-app .category, .material{
			padding: 0px 4px;
		}

		#materials-app .category:hover, .material:hover{
			background: #f1f1f1;
			border-radius: 8px;
		}


		#materials-app .category:hover .edit-panel, 
		#materials-app .material:hover .edit-panel {
			display: inline-block;
		}
	

		#materials-app .edit-panel {
			display: none;
			float: right;
		}

		#materials-app label {
			display: inline;
		}

		#materials-app a.glyphicon {
			color: #222;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;
		}
		#materials-app a.glyphicon:hover {
			text-decoration: none;
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			-ms-transform: scale(1.3);
			-o-transform: scale(1.3);
			transform: scale(1.3);
		}
		#materials-app .materials {
			margin-left: 30px;
		}

		#materials-app form {
			display: inline;
		}
	</style>

	<section id="materials-app">
		<header id="header">
			<h1>Материалы</h1>
		</header>
		<section id="main">
			<ul id="categories"></ul>
		</section>
		<footer id="footer"></footer>
	</section>

	<script type="text/template" id="category-content-template">
		<ul class="materials"></ul>
	</script>

	<script type="text/template" id="category-template">
	{% if user.is_staff %}
		<i class="glyphicon <%= private ? 'glyphicon-eye-close' : 'glyphicon-eye-open' %>"></i>
	{% endif %}
		<span><%- name %></span>
	{% if user.is_staff %}
		<div class="edit-panel">
		<a class="add-material glyphicon glyphicon-plus"></a>
		<a class="edit-category glyphicon glyphicon-pencil"></a>
		<a class="destroy-category glyphicon glyphicon-remove"></a>
		</div>
	{% endif %}
	</script>

	<script type="text/template" id="category-edit-template">
	{% if user.is_staff %}
		<!-- <input name="private" type="checkbox" > -->
		<a class="toggle-private glyphicon <%= private ? 'glyphicon-eye-close' : 'glyphicon-eye-open' %>"></a>
		<input name="name" value="<%- name %>" autofocus>
		<a class="discard-category glyphicon glyphicon-ban-circle pull-right"></a>
		<a class="confirm-category glyphicon glyphicon-ok pull-right"></a>
	{% endif %}
	</script>

	<script type="text/template" id="error-template">
		<div class="error">
			<label><%- error %></label>
		</div>
	</script>

	<script type="text/template" id="material-template">
		<a href="<%= url %>" target="_blank"><%- name %></a>
	{% if user.is_staff %}
		<div class="edit-panel">
		<a class="destroy-material glyphicon glyphicon-remove pull-right"></a>
		<a class="edit-material glyphicon glyphicon-pencil pull-right"></a>
		</div>
	{% endif %}
	</script>

	<script type="text/template" id="material-edit-template">
	{% if user.is_staff %}
		<label for="name">Имя:</label>
		<input name="name" value="<%- name %>" autofocus>
		<a class="discard-material glyphicon glyphicon-ban-circle pull-right"></a>
		<a class="save-material glyphicon glyphicon-ok pull-right"></a>
	{% endif %}
	</script>

	<script type="text/template" id="material-edit-noupload-template">
	{% if user.is_staff %}
		<label for="url">Материал:</label>
		<input name="url" value="<%- url %>">
		<form enctype="multipart/form-data">
			<input class="upload-input hide" type="file" name="file">
			<a class="upload-material glyphicon glyphicon-upload"></a>
		</form>
	{% endif %}
	</script>

	<script type="text/template" id="material-edit-uploading-template">
	{% if user.is_staff %}
		<span>Загрузка...</span>
	{% endif %}
	</script>

	<script type="text/template" id="material-edit-uploaded-template">
	{% if user.is_staff %}
		<span>Файл загружен.</span>
		<a class="remove-upload glyphicon glyphicon-remove"></a>
	{% endif %}	
	</script>
	


	<!-- <link rel="stylesheet" href="{{ STATIC_URL }}materials/css/base.css"> -->

	<script src="{{ STATIC_URL }}js/underscore-min.js"></script>
	<script src="{{ STATIC_URL }}js/backbone.js"></script>
	<script src="{{ STATIC_URL }}js/backbone-csrf.js"></script>

	<script src="{{ STATIC_URL }}materials/js/models.js"></script>
	<script src="{{ STATIC_URL }}materials/js/views.js"></script>
	<script src="{{ STATIC_URL }}materials/js/routers.js"></script>
	<script src="{{ STATIC_URL }}materials/js/app.js"></script>

{% endblock %}