<div class="category">
	<b>{{category.name}}</b>
	<ul style="list-style-type: none;">
	{% for material in category.materials.all %}
		<li><a href="{{ material.url }}">{{ material.name }}</a></li>
	{% endfor %}
	</ul>
</div>