<div class="option">
	<input type="hidden" name="option-id" value="{{ option.id }}" />
	<input type="text" name="option-text" value="{{ option.text }}" />
	<a class="btn" name="vote_option_delete" value="delete" onclick="vote_option_delete(event)">Удалить вариант ответа</a>
</div>