<form method="POST" action="/votes/vote/" style="display:inline;">
	{% csrf_token %}
	{% for o in vote.options.all %}
		<input
			type={% if vote.multicheck %} "checkbox" {% else %} "radio" {% endif %} 
			name="options_ids" 
			value="{{ o.id }}"
			{% if user in o.users_voted %}checked{% endif %}/>
		<span data-id="option-text">{{ o.text }}</span>
		<br />
	{% endfor %}
	<input type="hidden" name="vote_id" value={{vote.id}}>
	<button class="btn" name="type" value="vote" onclick="vote_make(event, {{vote.id}})">Голосовать</button>
	<button class="btn" name="type" value="decline" onclick="vote_decline(event, {{vote.id}})">Воздержаться</button>
</form>