{% load div %}
{% load mul %}
<div id="vote_results">
	{% for o in vote.options.all %}
		<p>
			<b>{{ o.answers.all.count|div:vote.answers.all.count|mul:100|floatformat:1 }}%</b>({{ o.answers.all.count }}){{ o.text }}
		</p>
	{% endfor %}
</div>