<div class="vote">
	<span>Введите вопрос:</span>
	<br>
	<input type="hidden" name="vote-id" value="{{ vote.id }}">
	<input type="text" name="vote-quation" value="{{ vote.quation }}" />
	<a class="btn" name="vote_delete" value="delete" onclick="vote_delete(event, {{vote.id}})">Удалить голосование</a>
	<br>
	<span>Введите варианты ответов:</span>
	
	{% for option in vote.options.all %}
		{% include "votes/option_edit.html" %}
	{% empty %}
		{% include "votes/option_edit.html" %}
		{% include "votes/option_edit.html" %}
	{% endfor %}
	<a class="btn" onclick="vote_option_add(event)">Добавить вариант ответа</a>
</div>