<div class="vote" id="vote_{{vote.id}}">
	<a name="vote_{{vote.id}}"></a>
	<div>
		<b>{{ vote.quation }}</b>
		<br />
		{% if user in vote.users_voted %}
			{% include "votes/vote_results.html" %}
		{% else %}
			{% include "votes/vote_form.html" %}
		{% endif %}
	</div>
</div>