{% extends "stream/base.html" %}
{% block content %}
<div align="center">
    {% if user.is_staff %}
        <form method="POST" action="start">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg">Начать трансляцию</button>
        </form>
    {% endif %}
    <h2 id="ustreamloadmessage">На данный момент ничего не транслируется.<br>Обновите страницу позже или<br><a href="/">узнайте расписание трансляций</a>.</h2>
</div>
{% endblock %}
