{% extends "stream/base.html" %}
{% block content %}
<div align="center">
    {% if user.is_staff %}
        <form method="POST" action="stop">
            {% csrf_token %}
            <button class="btn btn-primary btn-lg">Закончить трансляцию</button>
        </form>
    {% endif %}
    <br>
    <iframe id="ustreamframe" src="//www.ustream.tv/embed/14355835?wmode=direct&autoplay=true" style="border: 0 none transparent;" frameborder="no" width="3" height="2"></iframe><br>
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                $('#ustreamframe').width(720).height(437);
                $('#ustreamloadmessage').hide();
                $('#ustreamchatmessage').removeClass('hide');
            }, 10000);
        });
    </script>
    <h2 id="ustreamloadmessage">Идет загрузка. Подождите...</h2>
    <h2 id="ustreamchatmessage" class="hide">Если вы хотите задать вопросы, то перейдите по <a href="http://www.ustream.tv/channel/krishna33">ссылке</a>. Справа на панели выберите Chat.</h2>
</div>
{% endblock %}
