<!-- in: post -->
<div class="event" id="event_{{event.id}}">
	<p class="author">{{ event.author.username }}</p>
	<p class="publish_date">{{ event.publish_date }}</p>
	<h1 class="title">
		<a href="/events/{{event.id}}">
			{{ event.title }}
		</a>
	</h1>
	<div class="content">{{ event.content|safe }}</div>
</div>