{% extends "events/base.html" %}
{% block content %}
	<a class="btn" href="/events/new/">Новое</a>
	<br />
	<br />
    {% for event in events %}
		{% include "events/_event_mini.html" %}
	{% endfor %}
{% endblock %}