{% extends "base.html" %}

{% block headscripts %}
<script type="text/javascript" src="{{ STATIC_URL }}events/js/events.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}votes/js/votes.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}comments/js/comments.js"></script>
{% endblock %}

{% block content %}
{% endblock %}

{% block sidebar %}
{% endblock %}