{% extends "events/base.html" %}
{% block content %}
<form action="{% url 'events:delete' event.id %}" method="post" class="pull-right" style="display:inline;">
    {% csrf_token %}
    <button class="btn btn-default" type="submit">Удалить</button>
</form>
{% endblock %}