{% extends "events/base.html" %}
{% block content %}
<form id="event_form" method="POST" action="/events/save/">
	{% csrf_token %}
	<script type="text/javascript" src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
	<link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}timepicker/css/bootstrap-timepicker.css" rel="stylesheet" media="screen">
	<div class="input-append date" id="event_datepicker" data-date="{% if event %}{{event.date|date:"Y-m-d"}}{% else %}{% now "Y-m-d" %}{% endif %}">
		<input class="span2" size="16" name="date" type="text" value="{% if event %}{{event.date|date:"Y-m-d"}}{% else %}{% now "Y-m-d" %}{% endif %}">
		<span class="add-on"><i class="icon-calendar"></i></span>
	</div>
	<div class="input-append bootstrap-timepicker">
		<input id="event_timepicker" name="time" type="text" class="input-small" {% if event %}value="{{event.time|date:"H:i"}}"{% endif %}>
		<span class="add-on"><i class="icon-time"></i></span>
	</div>

	<br>
	<input type="hidden" name="id" value="{{event.id}}">
	<input type="text" name="title" value="{{event.title}}">
	<br>
	<textarea cols="30" rows="10" name="content">{{event.content|safe}}</textarea>
	<br>
	<input type="text" name="tags">
	<br>
	{% include "votes/votes_edit.html" with votes=event.votes.all %}	

	<br>

	<button class="btn" onclick="event_save(event)">Сохранить</button>
	<script type="text/javascript">
		var event_datepicker = $('#event_datepicker').datepicker({
			format: 'yyyy-mm-dd'
		})
		event_datepicker.on('changeDate', function(ev) {
			event_datepicker.datepicker('hide');
		});
		$('#event_timepicker').timepicker({
			showMeridian: false,
			defaultTime: '00:00'
		});
	</script>
</form>
{% endblock %}