<form method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="title" class="control-label">Заголовок</label>
		<input type="text" name="title" class="form-control" value="{{post.title}}">
	</div>
    <div class="form-group">
		<label for="content" class="control-label">Текст</label>
	    <textarea cols="30" rows="10" name="content" class="form-control">{{post.raw_content|safe}}</textarea>
    </div>
    <div class="form-group">
		<label for="content" class="control-label">Теги</label>
	    <input type="text" name="tags" class="form-control">
    </div>
	<button class="btn btn-primary" type="submit" value="save">Сохранить</button>
    <a class="btn btn-default" href="{% url 'posts:detail' post.id %}">На страницу поста</a>
</form>
