{# in: event #}
<div class="event" id="event_{{event.id}}">
    {% if event.author == user or user.is_staff %}
    <div class="pull-right">
        {% if not event.published %}
        <form action="{% url 'events:publish' event.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Опубликовать</button>
        </form>
        {% else %}
        <form action="{% url 'events:unpublish' event.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">В черновики</button>
        </form>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'events:edit' event.id %}">Редактировать</a>
        <form action="{% url 'events:delete' event.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button class="btn btn-default" type="submit">Удалить</button>
        </form>
    </div>
    {% endif %}


    {{ event.begin_date }} {{ event.begin_time|default:"" }} -
    {{ event.end_date|default:"" }} {{ event.end_time|default:"" }}
    <h1 class="title">
    {% if event.title %}
	{{ event.title }}
    {% else %}
    <событие #{{ event.id }}>
    {% endif %}
    </h1>
    <span style="color:#999">
        {% if event.published %}
        {{ event.published_at }}
        {% else %}
        [не опубликован]
        {% endif %}
    </span>
    <span class="author">{{ event.author.name }}</span>
    <br>
    <br>
    {% if document == 'report' or document != "announcement" and event.expired and event.report %}
        {% if event.report.published or user.is_staff %}
            {% if event.announcement %}
                {% if event.announcement.published or user.is_staff %}
                <a href="{% url 'events:detail' event.id %}/announcement" class="btn btn-default">Анонс</a>
                {% endif %}
                <br><br>
                <span style="color:#999">
                    {% if event.report.published %}
                        {{ event.report.published_at }}
                    {% else %}
                        [не опубликован]
                    {% endif %}
                </span>
            {% endif %}
            {% if event.report.title %}
                <h3>{{ event.report.title }}</h3>
            {% endif %}
            {% ifnotequal event.author event.report.author %}
                <span class="author">{{ event.report.author.name }}</span>
            {% endifnotequal %}
            <div class="content">{{ event.report.rendered_content|safe }}</div>
        {% else %}
            {# TODO ЧЕРНОВИК! #}
        {% endif %}
    {% elif event.announcement %}
        {% if event.announcement.published or user.is_staff %}
            {% if event.report %}
                {% if event.report.published or user.is_staff %}
                <a href="{% url 'events:detail' event.id %}/report" class="btn btn-default">Отчет</a>
                {% endif %}
                <br><br>
                <span style="color:#999">
                    {% if event.report.published %}
                        {{ event.report.published_at }}
                    {% else %}
                        [не опубликован]
                    {% endif %}
                </span>
            {% endif %}
            {% if event.announcement.title %}
                <h3>{{ event.announcement.title }}</h3>
            {% endif %}
            {% ifnotequal event.author event.announcement.author %}
                <span class="author">{{ event.announcement.author.name }}</span>
            {% endifnotequal %}
            <div class="content">{{ event.announcement.rendered_content|safe }}</div>
        {% else %}
            {# TODO ЧЕРНОВИК! #}
        {% endif %}
    {% endif %}
</div>