{% extends "events/base.html" %}
{% block content %}
    {% if user.is_staff %}
        <a class="btn btn-primary" href="{% url 'events:new' %}">Новое</a>
        {% if not only_my %}
        <a class="btn btn-default" href="{% url 'events:list' %}?my">Мои события</a>
        {% else %}
        <a class="btn btn-default" href="{% url 'events:list' %}">Все события</a>
        {% endif %}
    {% endif %}
    {% for event in events %}
		{% include "events/event-short.html" with event=event %}
    {% empty %}
        Событий пока нет!
	{% endfor %}
{% endblock %}