{# in: event #}
<div class="event row" id="event_{{event.id}}" style="margin-top:20px;margin-bottom:20px;">
    <!--{% if event.author == user or user.is_staff %}-->
    <!--<div class="pull-right">-->
        <!--<a class="btn btn-primary" href="{% url 'events:edit' event.id %}">Редактировать</a>-->
        <!--<form action="{% url 'events:delete' event.id %}" method="event" style="display:inline;">-->
            <!--{% csrf_token %}-->
            <!--<button class="btn btn-default" type="submit">Удалить</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--{% endif %}-->

    {{ event.begin_date }} {{ event.begin_time|default:"" }} -
    {{ event.end_date|default:"" }} {{ event.end_time|default:"" }}
	<h1 class="title">
		<a href="{% url 'events:detail' event.id %}">
        {% if event.title %}
        {{ event.title }}
        {% else %}
        <событие #{{ event.id }}>
        {% endif %}
        </a>
	</h1>
    <span style="color:#999">
        {% if event.published %}
            {{ event.published_at }}
        {% else %}
            [не опубликован]
        {% endif %}
    </span>
    <span class="author">{{ event.author.name }}</span>
    <br>
    <br>
    {% if event.expired and event.report and event.report.published or user.is_staff %}
	    <div class="content">{{ event.report.cut_content|safe }}</div>
    {% elif event.announcement and event.announcement.published or user.is_staff %}
	    <div class="content">{{ event.announcement.cut_content|safe }}</div>
    {% endif %}
    <br>
    <a href="{% url 'events:detail' event.id %}" class="btn btn-default">Читать дальше</a>
</div>