{% extends "events/base.html" %}
{% block content %}
<div class="event" id="event_{{event.id}}">
	{% if user.is_staff %}
		<a class="btn" href="/events/edit/{{event.id}}/">Редактировать</a>
		<form id="event_form" method="POST" action="/events/delete/" style="display:inline;">
			{% csrf_token %}
			<input type="hidden" name="event_id" value={{event.id}}>
			<button class="btn" onclick="event_delete(event, {{event.id}})">Удалить</button>
		</form>
	{% endif %}

	<p>Событие на: {{ event.date }} {{ event.time }}</p>
	<p class="author">{{ event.author.username }}</p>
	<p class="publish_date">{{ event.publish_date }}</p>
	<h1 class="title">{{ event.title }}</h1>
	<div class="content">{{ event.content|safe }}</div>

	{% include "votes/votes.html" with votes=event.votes.all %}
	{% include "comments/comments.html" with comments=event.comments.all %}
	<form class="comment_form" method="POST">
		{% csrf_token %}
		<input type="hidden" name="id" {% if comment %}value={{comment.id}}{% endif %}>
		<input type="hidden" name="event_id" value={{event.id}}>
		<br>
		<textarea class="span9" rows="10" name="comment_content">{% if comment %}{{comment.content|safe}}{% endif %}</textarea>
		<br>
		<button class="btn" onclick="comment_save(event, {{event.commentable_ptr.id}}, {% if comment %}{{comment.id}}{% else %}undefined{% endif %})">
			{% if comment %}Сохранить{% else %}Добавить{% endif %}
		</button>
	</form>
</div>
{% endblock %}