<div class="comment" id="comment_{{comment.id}}">
	<a id="comment_{{comment.id}}"></a>
	<p class="author">{{ comment.author.username }} ({{ comment.modify_date }}) {{ comment.level }}</p>
	<p class="publish_date">{{ comment.publish_date }}</p>
	<div class="content">{{ comment.content|safe }}</div>
</div>