<!DOCTYPE html>
<html lang="ru">
<head>
<!--	 <link rel="stylesheet" href="style.css" /> -->
    {% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8" />
	<title>{% block page-title %}Официальный сайт общества Сознания Кришны в городе Владимире{% endblock %}</title>
    <meta name="description" content="{% block page-description %}Официальный сайт общества Сознания Кришны в городе Владимире. Контакты, философия, новости."{% endblock %}>
    <meta name="keywords" content="{% block page-keywords %}Харе, Кришна, город Владимир, общество, сознание, кришнаиты, вайшнавы, религия, вайшнавизм, философия, образование{% endblock %}">
    <meta name="author" content="{% block page-author %}Krishna bhakta{% endblock %}">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link href="{% static "css/layout.css" %}" rel="stylesheet">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
	<script type="text/javascript">
		jQuery.ajaxSettings.traditional = true; // убираем скобочки в конце имени массива в GET
	</script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	{% block headscripts %}
	{% endblock %}
</head>

<body>
<div align="center">
	<img src="{% static "img/top.png" %}" style="max-width: 100%;max-height: 100%" />
</div>
<div id="layout">
	<div class="navbar navbar-default container" id="navbar" role="navigation">
		<div class="navbar-inner">
			<a class="navbar-brand" href="/">Krishna33</a>
			<ul class="nav navbar-nav">
				<!-- <li><a href="/">На главную</a></li> -->
				
				<li><a href="{% url 'events:list' %}">События</a></li>
				<li><a href="{% url 'posts:list' %}">Посты</a></li>
				{% if user.is_authenticated %}
				<li><a href="https://www.dropbox.com/sh/98l2fl97mnmzzcn/nzwYGQpyLr" target="_blank">Материалы</a></li>
				{% endif %}
                <li><a href="/store/">Магазин</a></li>
                <li><a href="/stream/">Трансляции</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
				<li><a href="/accounts/login/">Вход</a></li>
				{% if user.is_staff %}
				<li><a href="/admin/">Админка</a></li>
				{% endif %}
			</ul>
			<!-- <a href="#" class="nav navbar-nav navbar-right">{% now "d" %}<br>{% now "b" %}</a> -->
		</div>
	</div>
	<div id="header" style="padding:0px;">{% block header %}{% endblock %}</div>
	<div class="container">
		<div class="row">
			<div id="content" class="col-md-12">{% block content %}{% endblock %}</div>
			<!-- <div id="sidebar" class="well col-md-3">{% block sidebar %}{% endblock %}</div> -->
		</div>
	</div>
	<div id="footer">{% block footer %}{% endblock %}</div>
</div>
  	<script type="text/javascript" src="{% static "js/ajax-csrf.js" %}" defer></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40774777-2', 'krishna33.ru');
        ga('send', 'pageview');
    </script>
    {% block footscripts %}
    {% endblock %}
</body>
</html>