{% extends "base.html" %}

{% block content %}
<h1 align="center">Вы можете связаться с нами:</h1>
<h3>
    <table align="center" cellpadding="5">
        <tr>
            <td><img src="{{ STATIC_URL }}img/tel.png" /></td>
            <td>+7 (904) 651-17-98</td>
        </tr>
        <tr>
            <td><img src="{{ STATIC_URL }}img/ICQ.png" /></td>
            <td>432443992
        </tr>
        <tr>
            <td><img src="{{ STATIC_URL }}img/email.png" /></td>
            <td>krsna33@yandex.ru</td>
        </tr>
        <tr>
            <td><a href="http://vk.com/mrooskv"><img src="{{ STATIC_URL }}img/vk.png" /></td>
            <td><a href="http://vk.com/mrooskv">vkontakte</a></td>
        </tr>
    </table>
</h3>
{% endblock %}