{% extends "base.html" %}
{% block headscripts %}
<meta name='wmail-verification' content='2505aebf7165bce1' />
{% endblock %}
{% block content %}
<div align="center">
<i>Сайт находится в разработке</i>
</div>
{% for post in posts %}
    {% include "posts/post-short.html" with post=post %}
{% empty %}
    <div align="center">Новостей пока нет!</div>
{% endfor %}
{% endblock %}