.shop-info {
    text-align: center;
    font-style: italic;
}

.price-info {
    text-align: right;
    font-size: 10px;
    color: #CCC;
    font-style: italic;
    width: 150px;
}

.book {
    padding-bottom: 30px;
}

.book .title {
    font-size: 16pt;
    margin: 0px;
}

.book .price {
    text-align: right;
}

.book .price span{
    /*color: #333;*/
    font-weight: bold;
    font-size: 20pt;
}

.book .authors {
    font-size: 10pt;
    font-style: italic;
    padding: 5px 0px;
}

.book .quantity {
    text-align: right;
}

.book .available-quantity {
    font-size: 14pt;
}

.product-store {
    text-align: right;
}