<!-- in: product -->
<div class="row book">
    <div class="col-sm-3">
        <img src="{{ product.primary_image_url }}" alt="No image" style="width:100%;max-width:200px;">
    </div>
    <div class="col-sm-6">
        <h3 class="title">
            <a href="{{ product.id }}">{{ product.title }}{% if product.edition %}<span class="edition">, {{ product.edition }}-е издание</span>{% endif %}
            </a>
        </h3>
        <div class="authors">
            {% for author in product.authors.all %}
                {{ author.name }},
            {% endfor %}
            {{ product.publication_year }}</div>
        <div>{{ product.short_description }}</div>
    </div>
    <div class="col-sm-3">
        {% for sr in product.store_records %}
            <div class="product-store">
                <em>Магазин: {{ sr.store.name }}</em>
            </div>
            <div class="price"><span>{{ sr.price }}</span> <i class="fa fa-rub"></i></div>
            <div class="quantity">
                {% if sr.available_quantity > 0 %}
                    В наличии: <span class="available-quantity">{{ sr.available_quantity }}</span> шт.
                {% else %}
                    Нет в наличии
                {% endif %}
            </div>
            <br>
        {% endfor %}
    </div>
</div>
