<div class="row">
    <div class="col-sm-3">
        {% if user.is_staff %}
            <a class="store-admin btn btn-primary" href="/bookkeeping/">Администрирование</a>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <h5 class="shop-info">Склад находится во Владимире в р-не доброго.<br>Оформить заказ вы можете по телефону +7 (904) 651-17-98.<br>Доставка по договоренности, самовывоз.</h5>
    </div>
    <div class="col-sm-3">
        <span class="price-info pull-right">Указана рекомендуемая сумма пожертвования</span>
    </div>
</div>