{% extends "store/base.html" %}
{% load staticfiles %}

{% block headscripts %}
<link href="{% static "store/css/store.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include "store/store-info.html" %}
<form id="filter-panel" method="get" class="form-inline page-header" role="form">
    <div class="form-group">
        <select name="store" class="form-control">
            <option value="" {% if not filter_store %}selected{% endif %}>-- все магазины --</option>
            {% for s in stores %}
                <option value="{{ s.id }}" {% if filter_store == s.id %}selected{% endif %}>{{ s.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <select name="author" class="form-control">
            <option value="" {% if not filter_author %}selected{% endif %}>-- все авторы --</option>
            {% for a in authors %}
                <option value="{{ a.id }}" {% if filter_author == a.id %}selected{% endif %}>{{ a.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        Сортировать по:
        <select name="sort_by" class="form-control">
            <option value="title" {% if sort_by == "title" %}selected{% endif %}>Названию</option>
            <option value="price_down" {% if sort_by == "price_down" %}selected{% endif %}>Цене, убыванию</option>
            <option value="price_up" {% if sort_by == "price_up" %}selected{% endif %}>Цене, возрастанию</option>
            <option value="novelty" {% if sort_by == "novelty" %}selected{% endif %}>Дате публикации</option>
        </select>
    </div>
    <div class="form-group">
        Цена:
        <input name="min_price" type="number" min="0" value="{{ filter_min_price }}" class="form-control" style="width: 80px">
        -
        <input name="max_price" type="number" min="0" value="{{ filter_max_price }}" class="form-control" style="width: 80px">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="available" {% if filter_available %}checked{% endif %} class="form-control">
            Только в наличии
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Применить" class="btn btn-primary">
    </div>
</form>
<div id="products">
    {% for p in products %}
        {% include "store/short-book.html" with product=p %}
    {% empty %}
        На данный момент товаров нет.
    {% endfor %}
</div>
{% endblock %}