{% extends "base.html" %}
{% block content %}



{% if user.is_authenticated %}
    <p>Добро пожаловать. Спасибо, что не забываете нас.</p>
    <a href="{% url 'accounts:logout' %}" class="btn btn-default">Выйти</a>
{% else %}
{% load widget_tweaks %}
<form method="post" action="{% url 'accounts:login' %}" class="form-horizontal">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.errors }}
            <label class="col-sm-3 control-label">{{ field.label }}</label>
            <div class="col-sm-4">
                {{ field|add_class:"form-control" }}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-primary" type="submit" value="login">Войти</button> или <a href="{% url 'accounts:register' %}">зарегистрироваться</a>
            <input type="hidden" name="next" value="{{ next }}" />
         </div>
    </div>
</form>
{% endif %}


{% endblock %}