{% extends "base.html" %}
{% block content %}

{% load widget_tweaks %}
<form method="post" action="." class="form-horizontal">
	{% csrf_token %}
	{% if user.is_authenticated %}
		<p>Добро пожаловать, {{ user.username }}. Спасибо, что не забываете нас.</p>
		<a href="{% url 'accounts:logout' %}">Выйти</a>
	{% else %}
		{# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {# Include the visible fields #}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <label class="col-sm-3 control-label">{{ field.label }}</label>
                <div class="col-sm-4">
                    {{ field|add_class:"form-control" }}
                </div>
            </div>
        {% endfor %}
		<script type="text/javascript">
		    var RecaptchaOptions = {lang : 'ru', theme : 'clean'};
		</script>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
		    {{ recaptcha_html|safe }}
            </div>
        </div>
		<div class="form-group">
            <div class="col-sm-offset-3 col-sm-7">
		        <button class="btn btn-primary">Зарегистрироваться</button>
            </div>
        </div>
	{% endif %}
</form>

{% endblock %}